/* Adapted from https://codepen.io/kenchen/pen/tgBiE */

body {
    overflow: hidden;
}

.loader-wrapper {
    background: linear-gradient(to right, rgb(60, 160, 147), rgb(0, 102, 65));
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 50%;
    border-top: 1px solid white;
    width: 75px;
    height: 75px;
    position: absolute;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
