.ripple-dark, .ripple-light {
    display: inline-block;
    user-select: none;
    position: relative;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
}
.circle-dark {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    transform: scale(0);
}
.animate-dark {
    animation: ripple 0.45s linear;
}
@keyframes ripple {
    80% {opacity: 0.9; transform: scale(2.5);}
    100% {opacity: 0;transform: scale(2.5);}
}
.circle-light {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 100%;
    transform: scale(0);
}
.animate-light {
    animation: ripple 0.45s linear;
}
.touch, .touch-big {
    transition: all 0.25s;
}
.touch:hover {
    transform: scale(1.025);
}
.touch-big:hover {
    transform: scale(1.075);
}
.touch:active, .touch-big:active {
    transform: scale(1);
}